In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
test = pd.read_csv('/content/drive/My Drive/colab/flights/flight_delays_test.csv')
train = pd.read_csv('/content/drive/My Drive/colab/flights/flight_delays_train.csv')
sample = pd.read_csv('/content/drive/My Drive/colab/flights/sample_submission.csv')

In [ ]:
test.head()

  Month DayofMonth DayOfWeek  DepTime UniqueCarrier Origin Dest  Distance
0   c-7       c-25       c-3      615            YV    MRY  PHX       598
1   c-4       c-17       c-2      739            WN    LAS  HOU      1235
2  c-12        c-2       c-7      651            MQ    GSP  ORD       577
3   c-3       c-25       c-7     1614            WN    BWI  MHT       377
4   c-6        c-6       c-3     1505            UA    ORD  STL       258

In [ ]:
train.head()

  Month DayofMonth DayOfWeek  DepTime  ... Origin Dest Distance  dep_delayed_15min
0   c-8       c-21       c-7     1934  ...    ATL  DFW      732                  N
1   c-4       c-20       c-3     1548  ...    PIT  MCO      834                  N
2   c-9        c-2       c-5     1422  ...    RDU  CLE      416                  N
3  c-11       c-25       c-6     1015  ...    DEN  MEM      872                  N
4  c-10        c-7       c-6     1828  ...    MDW  OMA      423                  Y

[5 rows x 9 columns]

In [ ]:
sample.head()

   id  dep_delayed_15min
0   0              0.081
1   1              0.387
2   2              0.069
3   3              0.177
4   4              0.732